<div class='m-auto mx-10 text-center'>
  <ol class='list-decimal inline-block text-left'>
    {{#each highscores}}
      <li>
        Name:<span class='px-2 font-bold'> {{this.name}}</span>
        Time:<span class='px-2 font-bold'> {{this.time}}</span>
        Guesses:<span class='px-2 font-bold'> {{this.guesses}}</span>
        <br />
        <span class='text-sm'> {{this.wordLength}} Letter Word</span>
        {{#if this.noDuplicate}}
          <span class='text-sm'>With No Duplicates</span>
        {{else}}
          <span class='text-sm'>And Duplicates Allowed</span>
        {{/if}}
      </li>
      <div class='bg-black h-0.5 my-2'></div>
    {{/each}}
  </ol>
</div>